/* Background gradiente */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffccff, #ccffff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 900px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.item img {
    max-width: 100%;
    border-radius: 10px;
}

.description {
    margin: 10px 0;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #218838;
}
